body {
  background-color: #f8f9fa;
}

h1 {
  color: #343a40;
}

.card {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}

input,
textarea {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-left: 10px;
}
